# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# My additions to the file for my Emacs configuration.
config.el
/elpa
/transient/history.el
/eshell/history
/eshell/lastdir
